/* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* GENERAL */

a {
    text-decoration: none;
    color: white;
}

button {
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
}

hr {
    color: white;
}

/* HEADER */

header {
    width: 100%;
    margin:  0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 50px;
    background-color: black;
    color: white;
    position: fixed;
    z-index: 1;
}

.logo-container{
    width: 100px;
    cursor: pointer;
}

header img {
    width: 100%;
}

h1 {
    text-align: center;
    font-size: 4em;
    color: white;
    cursor: pointer;
}

.utility {
    display: flex;
    justify-content: flex-end;
}

.utility > * {
    padding: 5px;
    margin-right: 10px;
}

.utility button:hover {
    padding: 5px;
    border: 2px solid white;
}
.list-cart {
    position: relative;
}

.counter-list-cart {
    color: white;
    font-size: 15px;
    position: absolute;
    top: -8px;
    right: -8px;
}

/* MAIN */

main {
    position: relative;
}

.container {
    width: 1000px;
    padding-top: 100px;
    display: flex;
    flex-wrap: wrap;
}

.cards {
    width: calc((100% / 4 - 60px));
    height: 300px;
    margin: 0 30px;
    margin-bottom: 80px;
    cursor: pointer;
}

/* FRONT-CARD */

.front-card {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around; 
}

.image-container {
    width: 100%;
    height: 60%;   
}

.image-container > img {
    width: 100%;
    height: 100%;
}

.title-container {
    margin-top: 20px;
    font-weight: bold;
    text-align: center;
    align-items: center;
}

/* BACK-CARD */

.back-card {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    background-color:black;
    color: white;
    padding: 5px;
    display: none;
}

.back-card span {
    font-weight: bold;
}

.price-container {
    margin-bottom: 10px
}

.cart {
    text-align: center;
}

.cart button {
    text-align: center;
    background-color: black;
    color: white;
    padding: 10PX;
    border-radius: 10px;
    cursor: pointer;
    border: 1px solid white;
}

.cart button:hover {
    background-color: green;
}

/* HOVER */

.cards:hover .front-card {
    display: none;
}

.cards:hover .back-card {
    display: block;
}

.cards:hover .cart {
    border-top: 2px white solid;
}

/* LIST CART */

.container-list-cart {
    width: 350px;
    height: 500px;
    margin: 0 auto;
    background-color: black;
    position: absolute;
    top: 95px;
    right: 0;
}

h3 {
    color: white;
    text-align: center;
    margin: 10px 0;
}

.container-list-cart > div {
    height: 380px;
    overflow-y: auto;
}

h4 {
    padding: 10px;
    color: white;position: fixed;
    position: absolute;
    bottom: 0;
}

.single-cart-item {
    width: 100%;
    height: 80px;
    margin: 0 30px;
    margin-bottom: 20px;
    padding: 10px;
    display: flex;
}


.single-cart-item > img {
    width: 20%;
    height: 100%;
    margin-right: 20px;
    
}

.single-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: bold;
    color: white;
}

.delete-item-cart {
    color: red;
}


