<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shopping</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    
</head>
<body>
    <div id="app">

        <!-- HEADER -->

        <header>

            <button @click="reloadPage">
                <div class="logo-container">
                    <img src="images/shopping-logo.jpeg" alt="shopping-logo.jpeg">
                </div>
            </button>

            <button @click="reloadPage">
                <h1>
                    BRIGANDO
                </h1>  
            </button>
            
            <div class="utility">
                <button>
                    <a href="#">
                        <i class="fa-regular fa-user fa-xl"></i>
                </a>
                </button>
                <button>
                    <a href="#">
                        <i class="fa-regular fa-heart fa-xl"></i>
                </a>
                </button>
                <button class="list-cart">
                    <a href="#">
                        <i class="fa-solid fa-cart-shopping fa-lg"></i>
                    </a>
                    <div class="counter-list-cart">
                        {{cart.length}}
                    </div>
                </button>
            </div>  

        </header>


        <!-- MAIN -->

        <main>

            <div class="container">
                <div class="cards" v-for="(item,index) in items">    

                    <div class="front-card">
                        <div class="image-container">
                            <img :src="item.image">
                        </div>
                        <div class="title-container">
                            {{item.title}}
                        </div>
                    </div>

                    <div class="back-card" >
                        <div class="price-container">
                            <span>PRICE : </span>{{item.price}}
                        </div>
                        <div class="description-container">
                            <span>DESCRIPTION : </span>{{item.description}}
                        </div>
                    </div>

                    <div class="cart">
                        <button @click="addToCart(items, index)">
                            Add To Cart
                        </button>
                    </div>

                </div>
  
            </div>

            <!-- LIST CART -->

            <div class="container-list-cart">
                <h3>
                    CART
                </h3>
                <div>
                    <div class="single-cart-item" v-for="(singleCartItem, i) in cart">
                        <img :src="singleCartItem.image">
                        <div class="single-info">
                            <div>
                                {{singleCartItem.title}}
                            </div>
                            <div>
                                <div>
                                    PRICE : {{singleCartItem.price}}
                                </div>
                                <button class="delete-item-cart" @click="deleteItemCart(i)">
                                    <i class="fa-solid fa-trash fa-lg"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <hr>

                <h4>
                    TOTAL PRICE :{{totalPrice}}
                </h4>
            </div>
    
        </main>
      
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.4.0/axios.min.js" integrity="sha512-uMtXmF28A2Ab/JJO2t/vYhlaa/3ahUOgj1Zf27M5rOo8/+fcTUVH0/E0ll68njmjrLqOBjXM3V9NiPFL5ywWPQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="js/script.js"></script>
</body>
</html>